<p>
    <mat-toolbar style="min-height: 50px;">
        <button mat-button extended color="primary" routerLinkActive="active" routerLink="/recipes" [queryParams]="{ 'type': null}" queryParamsHandling='merge'>
            <img src="https://firebasestorage.googleapis.com/v0/b/recipe-book-85758.appspot.com/o/Logos%2Fsmall-logo.png?alt=media&token=a36b3a2a-e104-412f-99e3-c2ee58ccb6c3" alt="logo" style="max-width: 100%; height: auto; max-height: 50px;">
            <strong style="margin-left: 3%; margin-right: 1%;" *ngIf="!mobileLayout">TASTY SCRAN</strong>
        </button>
        <!-- Mobile Menu -->
        <ng-container *ngIf="mobileLayout">
            <button mat-button color="primary" [matMenuTriggerFor]="menuDrop"><mat-icon style="padding: 0 14px; transform: scale(2.5);">menu</mat-icon></button>
            <mat-menu #menuDrop="matMenu">
                <button mat-button color="primary" routerLinkActive="active" routerLink="/recipes" [queryParams]="{ 'type': null}" queryParamsHandling='merge'>All Recipes</button>
                <span routerLinkActive="active" *ngFor="let type of recipeTypes">
                    <button mat-menu-item [routerLink]="['/recipes']" [queryParams]="{ 'type': type}" queryParamsHandling='merge'>{{type}}</button>
                </span>
            </mat-menu>
        </ng-container>
         <!-- Mobile Menu -->
        
         <!-- Full Size Menu -->
        <ng-container *ngIf="!mobileLayout">
            <button *ngIf="!mobileLayout" mat-button color="primary" routerLinkActive="active" routerLink="/recipes" [queryParams]="{ 'type': null}" queryParamsHandling='merge'>All Recipes</button>
            <div routerLinkActive="active" *ngFor="let type of recipeTypes">
                <button mat-button [routerLink]="['/recipes']" [queryParams]="{ 'type': type}" queryParamsHandling='merge'>{{type}}</button>
            </div>
            <span style="flex: 1 1 auto;"></span>
        </ng-container>
         <!-- Full Size Menu -->

        <button mat-button color="accent" routerLinkActive="active" routerLink="/shopping-list"><mat-icon style="padding: 0 14px; transform: scale(2.5);">shopping_cart</mat-icon></button>
        <button mat-button color="accent" [matMenuTriggerFor]="userDrop"><mat-icon style="padding: 0 14px; transform: scale(2.5);">person</mat-icon></button>
        <mat-menu #userDrop="matMenu">
            <span *ngFor = "let user of allUsers">
                <button mat-menu-item (click)="onSetUser(user)">
                    <span>{{user}}</span>
                </button>
            </span>
        </mat-menu>
        <button mat-button color="accent" routerLinkActive="active" routerLink="/user-settings"><mat-icon style="padding: 0 14px; transform: scale(2.5);">settings</mat-icon></button>
    </mat-toolbar>
</p>