<p>
    <mat-toolbar style="min-height: 50px;">
        <span>JAOMI COOKS</span>
        <button mat-button color="primary" routerLinkActive="active" routerLink="/recipes">All Recipes</button>
        <div routerLinkActive="active" *ngFor="let type of recipeTypes">
            <button mat-button [routerLink]="['/recipes']" [queryParams]="{ 'type': type}" queryParamsHandling='merge'>{{type}}</button>
        </div>
        <span style="flex: 1 1 auto;"></span>
        <button mat-button color="accent" routerLinkActive="active" routerLink="/shopping-list"><mat-icon style="padding: 0 14px; transform: scale(2.5);">shopping_cart</mat-icon></button>
        <button mat-button color="accent" [matMenuTriggerFor]="userDrop"><mat-icon style="padding: 0 14px; transform: scale(2.5);">person</mat-icon></button>
        <mat-menu #userDrop="matMenu">
            <span *ngFor = "let user of allUsers">
                <button mat-menu-item (click)="onSetUser(user)">
                    <span>{{user}}</span>
                </button>
            </span>
        </mat-menu>
        <button mat-button color="accent" routerLinkActive="active" routerLink="/user-settings"><mat-icon style="padding: 0 14px; transform: scale(2.5);">settings</mat-icon></button>
    </mat-toolbar>
</p>