<p>
    <mat-toolbar style="min-height: 50px;">
        <!-- Mobile Menu -->
        <ng-container *ngIf="mobileLayout">
            <button mat-button color="primary" [matMenuTriggerFor]="menuDrop"><mat-icon style="padding: 0 14px; transform: scale(2.5);">menu</mat-icon></button>
            <mat-menu #menuDrop="matMenu">
                <button mat-button color="primary" routerLinkActive="active" routerLink="/recipes" [queryParams]="{ 'type': null}" queryParamsHandling='merge'>All Recipes</button>
                <span routerLinkActive="active" *ngFor="let type of recipeTypes">
                    <button mat-menu-item [routerLink]="['/recipes']" [queryParams]="{ 'type': type}" queryParamsHandling='merge'>{{type}}</button>
                </span>
            </mat-menu>
        </ng-container>
         <!-- Mobile Menu -->

        <span>SCRAN</span>

         <!-- Full Size Menu -->
        <ng-container *ngIf="!mobileLayout">
            <button *ngIf="!mobileLayout" mat-button color="primary" routerLinkActive="active" routerLink="/recipes" [queryParams]="{ 'type': null}" queryParamsHandling='merge'>All Recipes</button>
            <div routerLinkActive="active" *ngFor="let type of recipeTypes">
                <button mat-button [routerLink]="['/recipes']" [queryParams]="{ 'type': type}" queryParamsHandling='merge'>{{type}}</button>
            </div>
            <span style="flex: 1 1 auto;"></span>
        </ng-container>
         <!-- Full Size Menu -->

        <button mat-button color="accent" routerLinkActive="active" routerLink="/shopping-list"><mat-icon style="padding: 0 14px; transform: scale(2.5);">shopping_cart</mat-icon></button>
        <button mat-button color="accent" [matMenuTriggerFor]="userDrop"><mat-icon style="padding: 0 14px; transform: scale(2.5);">person</mat-icon></button>
        <mat-menu #userDrop="matMenu">
            <span *ngFor = "let user of allUsers">
                <button mat-menu-item (click)="onSetUser(user)">
                    <span>{{user}}</span>
                </button>
            </span>
        </mat-menu>
        <button mat-button color="accent" routerLinkActive="active" routerLink="/user-settings"><mat-icon style="padding: 0 14px; transform: scale(2.5);">settings</mat-icon></button>
    </mat-toolbar>
</p>