<div *ngIf = "recipeForm">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-xs-6">
                <input type="file" class="file-input" multiple accept=".jpg,.jpeg,.png" (change)="onFileSelected($event)" #fileUpload>
                <mat-card [ngClass]="mobileLayout?'recipe-image-card-mobile':'recipe-image-card'">
                    <img [src]=currentImagePath [ngClass]="mobileLayout?'recipe-image-mobile':'recipe-image'" *ngIf = "images.length > 0">
                    <div *ngIf = "images.length == 0" style="justify-content: center; justify-items: center; min-height: 200px; text-align: center;">
                        <mat-icon style="margin-top: 20%; margin-bottom: 20%; transform: scale(5);"> insert_photo</mat-icon>
                    </div>
                    <mat-error *ngIf="recipeForm.get('images').hasError('empty')">
                        Image is <strong>required</strong>
                    </mat-error>
                    <mat-card-actions style="justify-content: center">
                        <button type="button" mat-icon-button aria-label="Previous" (click)="onPreviousImage()">
                            <mat-icon>navigate_before</mat-icon>
                        </button>
                        <div class="file-upload">
                            {{images.length > 0 ? imageIndex+1 : '0'}} / {{images.length}}
                            <button
                                type="button" mat-icon-button
                                (click)="fileUpload.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>
                        <button type="button" mat-icon-button aria-label="Clear" (click)="onDeleteImage()">
                            <mat-icon>close</mat-icon>
                        </button>
                        <button type="button" mat-icon-button aria-label="Next" (click)="onNextImage()">
                            <mat-icon>navigate_next</mat-icon>
                        </button>
                    </mat-card-actions>
                </mat-card>
            </div>
            <div class="col-xs-6">
                <h1>Details ({{editMode ? 'Editing' : 'Adding'}})</h1>
                <div class="form-group">
                    <mat-form-field class="width100">
                        <mat-label><mat-icon> restaurant_menu</mat-icon> Recipe Name</mat-label>
                        <input matInput id="name" formControlName="name" [readonly]="editMode">
                        <mat-error *ngIf="recipeForm.get('name').hasError('pattern')">
                            Name cannot contain <strong>special</strong>s characters
                        </mat-error>
                        <mat-error *ngIf="recipeForm.get('name').hasError('nameExists')">
                            Name is <strong>duplicated</strong>
                        </mat-error>
                        <mat-error *ngIf="recipeForm.get('name').hasError('required')">
                            Name is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="width100">
                        <mat-label><mat-icon>person</mat-icon> Author</mat-label>
                        <mat-select matInput id="author" formControlName="author">
                          <mat-option *ngFor="let user of users" [value]="user">{{user}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="recipeForm.get('author').hasError('required')">
                            Author is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <br>
                <div class="col-xs-6">
                    <div class="form-group">
                        <mat-form-field class="width90">
                            <mat-label><mat-icon>access_time</mat-icon> Prep:</mat-label>
                            <input matInput type="number" id="prep" formControlName="prep">
                            <mat-error *ngIf="recipeForm.get('prep').hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="width90">
                            <mat-label><mat-icon>timer</mat-icon> Cook:</mat-label>
                            <input matInput type="number" id="cook" formControlName="cook">
                            <mat-error *ngIf="recipeForm.get('cook').hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col-xs-6">
                    <div class="form-group">
                        <mat-form-field class="width90">
                            <mat-label><mat-icon>room_service</mat-icon> Serves:</mat-label>
                            <input matInput type="number" id="serves" formControlName="serves">
                            <mat-error *ngIf="recipeForm.get('serves').hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="form-group">
                        <mat-form-field class="width90">
                            <mat-label><mat-icon>folder</mat-icon> Catagory:</mat-label>
                            <mat-select id="catagory" formControlName="catagory">
                              <mat-option *ngFor="let recipeType of recipeTypes" [value]="recipeType">{{recipeType}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="recipeForm.get('catagory').hasError('required')">
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <mat-form-field class="width100" appearance="fill">
                    <mat-label><mat-icon>local_offer</mat-icon> Recipe Tags</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Tag selection">
                    <mat-chip-row *ngFor="let tag of getTags()" (removed)="removeTag(tag)">
                        {{tag}}
                        <button matChipRemove [attr.aria-label]="'remove ' + tag">
                        <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-row>
                    </mat-chip-grid>
                    <input placeholder="New tag..." #tagInput [formControl]="tagCtrl"
                    [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                    (matChipInputTokenEnd)="addTag($event)" formControlName="tags"/>
                    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTag($event)">
                    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
                        {{tag}}
                    </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-6" formArrayName="ingredients">
                <h1><mat-icon>kitchen</mat-icon> Ingredients <button
                    type="button"
                    mat-mini-fab color="primary"
                    (click)="onAddIngredient()"><mat-icon>playlist_add</mat-icon></button></h1> 
                <div class="row" *ngFor="let ingredientCtrl of controlsIngredient; let i = index"
                    [formGroupName]="i">
                    <mat-form-field style="width: 90%; margin-bottom: -0.9em">
                        <input matInput rows="4" formControlName="name">
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="onDeleteIngredient(i)">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xs-6" formArrayName="method">
                <h1><mat-icon>school</mat-icon> Method <button
                    type="button"
                    mat-mini-fab color="primary"
                    (click)="onAddMethod()"><mat-icon>playlist_add</mat-icon></button></h1> 
                <div class="row" *ngFor="let methodCtrl of controlsMethod; let i = index"
                    [formGroupName]="i">
                    <mat-form-field class="width100">
                        <mat-label>Step {{i+1}}</mat-label>
                        <textarea matInput rows="4" formControlName="description"></textarea>
                        <button matSuffix mat-icon-button aria-label="Clear" (click)="onDeleteMethod(i)">
                            <mat-icon>close</mat-icon>
                            </button>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <mat-form-field class="width100">
                <mat-label><mat-icon>rate_review</mat-icon> Leave a note</mat-label>
                <textarea matInput rows="6" placeholder="Ex. It makes me feel..." formControlName="notes"></textarea>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <button type="submit" mat-raised-button color="primary" [disabled]="!recipeForm.valid" style="margin-right: 1%;"><mat-icon>save</mat-icon> Save</button>
                <button type="button" mat-raised-button color="warn" (click)="onCancel()"><mat-icon>cancel</mat-icon> Cancel</button>
            </div>
        </div>
    </form>
</div>
<div *ngIf = "!recipeForm">
    Recipe Edit Loading
</div>