.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.example-card {
    min-width: 200px;
    min-width: 200px;
  }
  
.ingredient-line {
    margin-top: 0.35em !important;
    margin-bottom: 0.35em !important;
    border-width: 1px;
}