<div *ngIf = "recipe">
    <div class="row no-margin">
        <div [ngClass]="mobileLayout?'row margin10':'col-xs-6 margin10'">
            <mat-card class="recipe-image-card">
                <img [src]=currentImagePath class="recipe-image">
                <mat-card-actions style="justify-content: center">
                    <button type="button" mat-icon-button aria-label="Previous" (click)="onPreviousImage()">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                    {{imageIndex+1}} / {{recipe.images.length}}
                    <button type="button" mat-icon-button aria-label="Next" (click)="onNextImage()">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div [ngClass]="mobileLayout?'row margin10':'col-xs-6 margin10'">
            <div class="row no-margin">
                <h1>
                    {{ recipe.name }}
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Recipe Menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onEditRecipe()">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="onFullScreen()">
                        <mat-icon>fullscreen</mat-icon>
                        <span>Full Screen</span>
                        </button>
                        <button mat-menu-item (click)="onDeleteRecipe()">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Delete</span>
                        </button>
                    </mat-menu>
                </h1>
            </div>
            <div class="row no-margin">By {{ recipe.author }}</div>
            <br>
            <div class="col-xs-6 no-margin">
                <div class="row g-0 no-margin"><mat-icon>access_time</mat-icon>Prep: {{ recipe.prep }} mins</div>
                <div class="row g-0 no-margin"><mat-icon>timer</mat-icon>Cook: {{ recipe.cook }} mins</div>
            </div>
            <div class="col-xs-6 no-margin">
                <div class="row no-margin"><mat-icon>room_service</mat-icon>Serves: {{ recipe.serves }}</div>
                <div class="row no-margin"><mat-icon>folder</mat-icon>Category: {{ recipe.catagory }}</div>
            </div>
            <br>
            <div class="row no-margin" style="margin-top:15%">
                <mat-chip *ngFor="let tag of recipe.tags" style="margin-right:2px">
                    {{ tag }}
                </mat-chip>
            </div>
        </div>
    </div>
    <hr>
    <div class="row no-margin">
        <div [ngClass]="mobileLayout?'row margin10':'col-xs-4 margin10'">
            <h1>Ingredients <button mat-icon-button (click)="onAddToShoppingList()"><mat-icon>add_shopping_cart</mat-icon></button></h1>
            <mat-card *ngIf="recipe.ingredients">
                <mat-card-content>
                    <div *ngFor="let ingredient of recipe.ingredients">
                        {{ ingredient.name }} 
                        <hr class="ingredient-line">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div [ngClass]="mobileLayout?'row margin10':'col-xs-8 margin10'">
            <h1>Method </h1>
            <div *ngFor="let step of recipe.method; let i = index">
                <mat-card [ngClass]="getCheckedClass(i)">
                    <mat-card-header>
                    <mat-card-subtitle>Step {{i}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-checkbox (click)="togChecked(i)" [ngClass]="getCheckedClass(i)"></mat-checkbox>
                        {{ step.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <hr>
    <div class="row margin10">
        <h1>Notes</h1>
        <mat-card style="min-height: 200px;">
            <mat-card-content>
                {{ recipe.notes }}
            </mat-card-content>
        </mat-card>
    </div>
</div>
<div *ngIf = "!recipe" >
    Recipe Loading!
</div>