<div *ngIf = "recipe" >
    <div class="row">
        <div class="col-xs-6">
            <mat-card class="example-card">
                <div class="row">
                    <img [src]=getCurrentImagePath() class="img-responsive">
                </div>
                <mat-card-actions>
                    <button type="button" mat-icon-button aria-label="Previous" (click)="onPreviousImage()">
                        <mat-icon>navigate_before</mat-icon>
                    </button>
                    <button type="button" mat-icon-button aria-label="Next" (click)="onNextImage()">
                        <mat-icon>navigate_next</mat-icon>
                    </button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <h1>
                    {{ recipe.name }}
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Recipe Menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="onEditRecipe()">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                        </button>
                        <button mat-menu-item (click)="onFullScreen()">
                        <mat-icon>fullscreen</mat-icon>
                        <span>Full Screen</span>
                        </button>
                        <button mat-menu-item (click)="onDeleteRecipe()">
                        <mat-icon>delete_forever</mat-icon>
                        <span>Delete</span>
                        </button>
                    </mat-menu>
                </h1>
            </div>
            <div class="row">By {{ recipe.author }}</div>
            <br>
            <div class="col-xs-6">
                <div class="row"><mat-icon>access_time</mat-icon>Prep: {{ recipe.prep }} mins</div>
                <div class="row"><mat-icon>timer</mat-icon>Cook: {{ recipe.cook }} mins</div>
            </div>
            <div class="col-xs-6">
                <div class="row"><mat-icon>room_service</mat-icon>Serves: {{ recipe.serves }}</div>
                <div class="row"><mat-icon>folder</mat-icon>Category: {{ recipe.catagory }}</div>
            </div>
            <br>
            <div class="row">
                <mat-chip-listbox aria-label="Tags">
                    <mat-chip *ngFor="let tag of recipe.tags">
                        {{ tag }}
                    </mat-chip>
                </mat-chip-listbox>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-xs-4">
            <h1>Ingredients <button mat-icon-button (click)="onAddToShoppingList()"><mat-icon>add_shopping_cart</mat-icon></button></h1>
            <mat-card>
                <mat-card-content>
                    <div *ngFor="let ingredient of recipe.ingredients">
                        {{ ingredient.name }} 
                        <hr class="ingredient-line">
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-xs-8">
            <h1>Method </h1>
            <div *ngFor="let step of recipe.method; let i = index">
                <mat-card>
                    <mat-card-header>
                    <mat-card-subtitle>Step {{i}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <mat-checkbox (click)="togChecked(i)" [ngClass]="getCheckedClass(i)"></mat-checkbox>
                        {{ step.description }}
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h1>Notes</h1>
        {{ recipe.notes }}
    </div>
</div>
<div *ngIf = "!recipe" >
    Recipe Loading!
</div>