<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<app-header (featureSelected)="onNavigate($event)"></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      https://thewebdev.tech/recipe-book-2
      https://thewebdev.tech/recipe-book-3
      https://nabendu82.medium.com/building-a-recipe-book-app-in-angular-4-9a8da665c1cb
      https://thewebdev.tech/recipe-book-5
      selected: {{loadedFeature}}
      <router-outlet></router-outlet>
    </div>
  </div>
</div>