<div class="row" style="text-align: center;">
    <div class="col-xs-12">
        <button class="btn btn-success" (click)="onNewRecipe()"><mat-icon>note_add</mat-icon>New Recipe</button>
    </div>
</div>
<hr>
<mat-form-field class="example-form-field">
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="nameSearch" (keydown.enter)="onFilter(nameSearch)">
    <button matSuffix mat-icon-button aria-label="Clear" (click)="onFilter(nameSearch)">
      <mat-icon>search</mat-icon>
    </button>
  </mat-form-field>
<hr>
<div class="row">
    <div class="col-xs-12">
        <app-recipe-item 
            *ngFor="let item of filteredRecipes"
            [recipe]="item">
        </app-recipe-item>
    </div>
</div>