/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: "Nunito", sans-serif; font-size: 16px; }

.grayout {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
}

.recipe-image-card-mobile {
    min-width: 330px;
    max-width: 330px;
    min-height: 480px;
    max-height: 480px;
  }

.recipe-image-mobile {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    width: 90%;
    max-width: 360px;
    max-height: 420px;
    height: 90%;
  }

  .recipe-image-card {
    min-width: 400px;
    max-width: 400px;
    min-height: 550px;
    max-height: 550px;
  }

.recipe-image {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: auto;
    width: 90%;
    max-width: 430px;
    max-height: 500px;
    height: 90%;
  }

.ingredient-line {
    margin-top: 0.35em !important;
    margin-bottom: 0.35em !important;
    border-width: 1px;
}

.width100 {
    width: 100%;
    margin-bottom: -0.9em
}

.width90 {
    width: 90%;
    margin-bottom: -0.9em
}

.width80 {
    width: 80%;
    margin-bottom: -0.9em
}